<div class="span-24">
<h1><%= @question.title %></h1>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>Question</h2>
<%= render 'info' %>
</div>

<% if can? :manage, @question %>
<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
<% end %>
</div>

<div class="span-8">
<h2>Answers</h2>
<%= render 'question_answers/table' %>
</div>

<div class="span-8 last">
<h2>Scales</h2>
<%= render 'question_scales/table' %>
</div>
