<p>
  <b>Name:</b>
  <%= @basket.name %>
</p>

<p>
  <b>Description:</b>
  <%= @basket.description %>
</p>

<p>
  <b>User:</b>
  <%= link_to @basket.user.user_profile.name,
              @basket.user.user_profile unless
              @basket.user.user_profile.blank? %>
  (ID: <%= @basket.user_id %>)
</p>

<p>
  <b>Group:</b>
  <%= link_to @basket.group.title,
              @basket.group unless
              @basket.group.blank? %>
  (ID: <%= @basket.group_id %>)
</p>
