<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @baskets.each do |basket| %>
  <tr>
    <td><%= basket.name %></td>
    <td><%= basket.description %></td>
    <td><%= basket.user_id %></td>
    <td><%= link_to 'Show', basket %></td>
    <td><%= link_to 'Edit', edit_basket_path(basket) %></td>
    <td><%= link_to 'Destroy', basket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

