<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
<%= @basket.title %>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>Basket</h2>
<%= render 'info' %>
</div>

<% if can? :manage, @basket %>
<div class="box admin">
<%= link_to 'Edit', edit_basket_path(@basket) %> |
<%= link_to 'Back', baskets_path %>
</div>
<% end %>
</div>

<div class="span-16 last">
<div>
<h2>Variable Groups in <%= @basket.title %></h2>
<%= unless session[:group_id].blank?
      render 'variable_groups_table'
    else
      flash[:notice] = "Please select a Group"
      render 'variable_groups/table'
    end %>
</hr>
</div>

<div>
<h2>Variables</h2>
<%= render 'variables/table' %>
</div>

</div>
