<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
<%= @study_unit.title %><h2>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>Study Unit</h2>
<hr>
<%= render 'info' %>
</div>

<% if can? :manage, @study_unit %>
<div class="box admin">
<%= link_to 'Edit', edit_study_unit_path(@study_unit) %> |
<%= link_to 'Back', study_units_path %>
</div>
<% end %>
</div>

<div class="span-16 last">
<div>
<h2>Data Collections in <%= @study_unit.title %></h2>
<%= render 'data_collections/table' %>
</div>

<hr>

<div>
<h2>Logical Products in <%= @study_unit.title %></h2>
<%= render 'logical_products/table' %>
</div>
</div>
