<div class="span-24">
<h1><%= @study_unit.title %><h2>
</div>

<hr>

<div class="span-8">
<div class="box">
<p>
  <b>Name:</b>
  <%= link_to @study_unit.name, @study_unit %>
</p>

<p>
  <b>Label:</b>
  <%= @study_unit.label %>
</p>

<p>
  <b>Abstract:</b>
  <%= @study_unit.abstract %>
</p>

<p>
  <b>Study:</b>
  <%= link_to @study_unit.study.name, @study_unit.study unless @study_unit.study.blank? %>
</p>
</div>

<% if can? :manage, @study_unit %>
<%= link_to 'Edit', edit_study_unit_path(@study_unit) %> |
<%= link_to 'Back', study_units_path %>
<% end %>
</div>

<div class="span-16 last">
<h2>Logical Products</h2>
<%= render 'logical_products/table' %>

<hr>
<h2>Data Collections</h2>
<%= render 'data_collections/table' %>
</div>
