<div class="span-24">
<h1><%= @logical_product.title %></h2>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>Logical Product</h2>
<%= render 'info' %>
</div>

<% if can? :manage, @logical_product %>
<%= link_to 'Edit', edit_logical_product_path(@logical_product) %> |
<%= link_to 'Back', logical_products_path %>
<% end %>
</div>

<div class="span-16 last">
<h2>Variable Groups in <%= @logical_product.title %></h2>
<%= render 'variable_groups/table' %>
</div>
