<div class="span-24">
<h1><%= @logical_product.title %></h2>
</div>

<hr>

<div class="span-8">
<div class="box">
<p>
  <b>Name:</b>
  <%= link_to @logical_product.name, @logical_product %>
</p>

<p>
  <b>Label:</b>
  <%= @logical_product.label %>
</p>

<p>
  <b>Abstract:</b>
  <%= @logical_product.abstract %>
</p>

<p>
  <b>Study unit:</b>
  <%= link_to @logical_product.study_unit.name, @logical_product.study_unit %>
</p>
</div>

<% if can? :manage, @logical_product %>
<%= link_to 'Edit', edit_logical_product_path(@logical_product) %> |
<%= link_to 'Back', logical_products_path %>
<% end %>
</div>

<div class="span-16 last">
<h2>Variable Groups in <%= @logical_product.title %></h2>
<%= render 'variable_groups/table' %>
</div>
