<%= form_for(@question_scale) do |f| %>
  <% if @question_scale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question_scale.errors.count, "error") %> prohibited this question_scale from being saved:</h2>

      <ul>
      <% @question_scale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :question_id %><br />
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.number_field :value %>
  </div>
  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
