<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
Publications</h1>
</div>

<div class="span-8">
<div class="box">
<h2>About</h2>
<%= render 'about' %>
</div>


<% if can? :manage, Publication %>
<%= link_to 'New Publication', new_publication_path %>
<% end %>
</div>

<div class="span-16 last">
<%= render 'table' %>
<%= paginate @publications %>
</div>
