<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
<%= @publication.title %></h1>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>Publication</h2>
<hr>
<%= render 'info' %>
</div>

<% if can? :manage, @publication %>
<div class="box admin">
<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
</div>
<% end %>
</div>
