<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
<%= @data_collection.title %></h1>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>Data Collection</h2>
<hr>
<%= render 'info' %>
</div>

<% if can? :manage, @data_collection %>
<div class="box admin">
<%= link_to 'Edit', edit_data_collection_path(@data_collection) %> |
<%= link_to 'Back', data_collections_path %>
</div>
<% end %>
</div>

<div class="span-16 last">
<h2>Questionnaires</h2>
<%= render 'questionnaires/table' %>
</div>
