<div class="span-24">
<h1><%= @group.title %></h1>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>Group</h2>
<%= render 'info' %>
</div>

<% if can? :manage, @group %>
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
<% end %>
</div>

<div class="span-16 last">
<h2>Physical Data Products in <%= @group.title %></h2>
<%= render 'physical_data_products/table' %>
</div>
