<p>
  <b>Physical data product:</b>
  <%= @physical_instance.physical_data_product_id %>
</p>

<p>
  <b>Name:</b>
  <%= @physical_instance.name %>
</p>

<p>
  <b>Label:</b>
  <%= @physical_instance.label %>
</p>

<p>
  <b>Description:</b>
  <%= @physical_instance.description %>
</p>

<p>
  <b>Filename:</b>
  <%= @physical_instance.filename %>
</p>

<p>
  <b>Format:</b>
  <%= @physical_instance.format %>
</p>

<p>
  <b>Fingerprint:</b>
  <%= @physical_instance.fingerprint %>
</p>

