<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
<%= @physical_instance.title %></h1>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>Physical Instance</h2>
<hr>
<%= render 'info' %>
</div>

<% if can? :manage, @physical_instance %>
<div class="box admin">
<%= link_to 'Edit', edit_physical_instance_path(@physical_instance) %> |
<%= link_to 'Back', physical_instances_path %>
</div>
<% end %>
</div>
