<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
<%= @user_profile.title %></h2>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>User Profile</h2>
<hr>
<%= render 'info' %>
</div>

<% if can? :manage, @user_profile %>
<div class="box admin">
<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
</div>
<% end %>

<div>
<h2>My Baskets</h2>
<%= render 'baskets/table' %>
<% if user_signed_in? && @user_profile.user_id == current_user.id %>
<%= link_to 'New Basket', new_basket_path %>
<% end %>
</div>

</div>

<div class="span-16 las16 last">
<h2>My Publications</h2>
<%= render 'publications/table' %>
</div>

