<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
<%= @user_profile.title %></h2>
</div>

<div class="span-8">
<div class="box">
<h2>User Profile</h2>
<%= render 'info' %>
</div>

<% if can? :manage, @user_profile %>
<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
<% end %>
</div>

<div class="span-8">
<h2>My Publications</h2>
<%= render 'publications/table' %>
</div>

<div class="span-8 last">
<h2>My Baskets</h2>
<%= render 'baskets/table' %>
</div>
