<table>
  <tr>
    <th>Name</th>
    <th>Label</th>
    <th>Abstract</th>
    <th>Universe</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @studies.each do |study| %>
  <tr>
    <td><%= study.name %></td>
    <td><%= study.label %></td>
    <td><%= study.abstract %></td>
    <td><%= study.universe %></td>
    <td><%= link_to 'Show', study %></td>
    <td><%= link_to 'Edit', edit_study_path(study) %></td>
    <td><%= link_to 'Destroy', study, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

