<div class="span-24">
<h1><%= @study.title %></h1>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>Study</h2>
<%= render 'info' %>
</div>

<% if can? :manage, @study %>
<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
<% end %>
</div>

<div class="span-16 last">
<h2>Study Units in <%= @study.title %></h2>
<%= render 'study_units/table' %>

<hr>

<h2>Groups in <%= @study.title %></h2>
<%= render 'groups/table' %>
</div>
