<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
<%= @study.title %></h1>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>Study</h2>
<%= render 'info' %>
</div>

<% if can? :manage, @study %>
<div class="box admin">
<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
</div>
<% end %>

</div>



<div class="span-16 last">

<div class="span-8">
<div class="box">
<h2>Abstract</h2>
<%= raw RedCloth.new(@study.abstract).to_html unless @study.abstract.blank? %>
</div>
</div>

<div class="span-8 last">
<h2>Groups in <%= @study.title %></h2>
<%= render 'groups/table' %>
</div>

<hr>

<div class="span-16 last">
<h2>Study Units in <%= @study.title %></h2>
<%= render 'study_units/table' %>
</div>

</div>
