
<div class="span-24">
<h1><%= @concept_group.title %></h1>
</div>

<hr>

<div class="span-8">
<div class="box">
<p>
  <b>Name:</b>
  <%= @concept_group.name %>
</p>

<p>
  <b>Label:</b>
  <%= @concept_group.label %>
</p>

<p>
  <b>Abstract:</b>
  <%= @concept_group.abstract %>
</p>
</div>

<% if can? :manage, @concept_group %>
<%= link_to 'Edit', edit_concept_group_path(@concept_group) %> |
<%= link_to 'Back', concept_groups_path %>
<% end %>
</div>

<div class="span-16 last">
<h2>Concepts in <%= @concept_group.title %></h2>
<%= render 'concepts/table' %>
</div>
