
<div class="span-24">
<h1><%= @concept_group.title %></h1>
</div>

<hr>

<div class="span-8">
<div class="box">
<%= render 'info' %>
</div>

<% if can? :manage, @concept_group %>
<%= link_to 'Edit', edit_concept_group_path(@concept_group) %> |
<%= link_to 'Back', concept_groups_path %>
<% end %>
</div>

<div class="span-16 last">
<h2>Sub-Concepts</h2>
<%= render 'concept_groups/table' %>

<hr>

<h2>Concepts in <%= @concept_group.title %></h2>
<%= render 'concepts/table' %>
</div>
