<%= form_for(@variable_group) do |f| %>
  <% if @variable_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@variable_group.errors.count, "error") %> prohibited this variable_group from being saved:</h2>

      <ul>
      <% @variable_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :logical_product_id %><br />
    <%= f.number_field :logical_product_id %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br />
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :concept_id %><br />
    <%= f.number_field :concept_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
