<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
Variable Groups</h1>
</div>

<div class="span-8">
<div class="box">
<h2>About</h2>
<%= render 'about' %>
</div>

<% if can? :manage, VariableGroup %>
<div class="box admin">
<%= link_to 'New Variable group', new_variable_group_path %>
</div>
<% end %>
</div>

<div class="span-16 last">
<h2>All Variable Groups</h2>
<%= render 'table' %>
<%= paginate @variable_groups %>
</div>
