<div class="span-24">
<h1><%= @variable_group.title %></h2>
</div>

<hr>

<div class="span-8">
<div class="box">
<p>
  <b>Name:</b>
  <%= @variable_group.name %>
</p>

<p>
  <b>Label:</b>
  <%= @variable_group.label %>
</p>

<p>
  <b>Logical product:</b>
  <%= link_to @variable_group.logical_product.name, @variable_group.logical_product unless @variable_group.logical_product.blank?%>
</p>

<p>
  <b>Question:</b>
  <%= link_to @variable_group.question.name, @variable_group.question unless @variable_group.question.blank? %>
</p>

<p>
  <b>Concept:</b>
  <%= link_to @variable_group.concept.name, @variable_group.concept unless @variable_group.concept.blank? %>
</p>
</div>

<% if can? :manage, @variable_group %>
<%= link_to 'Edit', edit_variable_group_path(@variable_group) %> |
<%= link_to 'Back', variable_groups_path %>
<% end %>
</div>

<div class="span-16 last">
<%= render 'variables/table' %>
</div>
