<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
<%= @variable_group.title %></h2>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>Variable Group</h2>
<hr>
<%= render 'info' %>
</div>

<% if can? :manage, @variable_group %>
<div class="box admin">
<%= link_to 'Edit', edit_variable_group_path(@variable_group) %> |
<%= link_to 'Back', variable_groups_path %>
</div>
<% end %>
</div>

<div class="span-16 last">
<h2>Variables in <%= @variable_group.title %></h2>
<%= render 'variables/comparison' %>
</div>
