<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @variable_group.name %>
</p>

<p>
  <b>Label:</b>
  <%= @variable_group.label %>
</p>

<p>
  <b>Logical product:</b>
  <%= @variable_group.logical_product_id %>
</p>

<p>
  <b>Question:</b>
  <%= @variable_group.question_id %>
</p>

<p>
  <b>Concept:</b>
  <%= @variable_group.concept_id %>
</p>


<%= link_to 'Edit', edit_variable_group_path(@variable_group) %> |
<%= link_to 'Back', variable_groups_path %>
