<div class="span-16">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
<%= @concept.title %></h1>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>Concept</h2>
<%= render 'info' %>
</div>

<% if can? :manage, @concept %>
<div class="box admin">
<%= link_to 'Edit', edit_concept_path(@concept) %> |
<%= link_to 'Back', concepts_path %>
</div>
<% end %>
</div>

<div class="span-16 last">
<h2>Variable Groups in <%= @concept.title %></h2>
<%= render 'variable_groups/table' %>
</div>
