
<div class="span-16">
<h1><%= @concept.title %></h1>
</div>

<hr>

<div class="span-8">
<div class="box">
<p>
  <b>Name:</b>
  <%= link_to @concept.name, @concept %>
</p>

<p>
  <b>Label:</b>
  <%= @concept.label %>
</p>

<p>
  <b>Abstract:</b>
  <%= @concept.abstract %>
</p>

<p>
  <b>Concept group:</b>
  <%= link_to @concept.concept_group.name, @concept.concept_group unless @concept.concept_group.blank? %>
</p>
</div>

<% if can? :manage, @concept %>
<%= link_to 'Edit', edit_concept_path(@concept) %> |
<%= link_to 'Back', concepts_path %>
<% end %>
</div>

<div class="span-16 last">
<h2>Variable Groups in <%= @concept.title %></h2>
<%= render 'variable_groups/table' %>
</div>
