<div class="span-24">
<h1><%= @physical_data_product.title %></h1>
</h1>

<hr>

<div class="span-8">
<div class="box">
<p>
  <b>Name:</b>
  <%= @physical_data_product.name %>
</p>

<p>
  <b>Label:</b>
  <%= @physical_data_product.label %>
</p>

<p>
  <b>Group:</b>
  <%= @physical_data_product.group_id %>
</p>

<p>
  <b>Logical product:</b>
  <%= @physical_data_product.logical_product_id %>
</p>
</div>

<% if can? :manage, @physical_data_product %>
<%= link_to 'Edit', edit_physical_data_product_path(@physical_data_product) %> |
<%= link_to 'Back', physical_data_products_path %>
<% end %>
</div>

<div class="span-16 last">
<h2>Variables in <%= @physical_data_product.title %></h2>
<%= render 'variables/table' %>

<h2>Physical Instances in <%= @physical_data_product.title %></h2>
<%= render 'physical_instances/table' %>
</div>
