<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
<%= @physical_data_product.title %></h1>
</h1>

<hr>

<div class="span-8">
<div class="box">
<h2>Physical Data Product</h2>
<%= render 'info' %>
</div>

<% if can? :manage, @physical_data_product %>
<div class="box admin">
<%= link_to 'Edit', edit_physical_data_product_path(@physical_data_product) %> |
<%= link_to 'Back', physical_data_products_path %>
</div>
<% end %>

<div>
<h2>Physical Instances in <%= @physical_data_product.title %></h2>
<%= render 'physical_instances/table' %>
</div>
</div>

<div class="span-16 last">
<h2>Variables in <%= @physical_data_product.title %></h2>
<%= render 'variables/table' %>
</div>
