<table>
  <tr>
    <th>Name</th>
    <th>Label</th>
    <th>Physical data product</th>
    <th>Variable group</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @variables.each do |variable| %>
  <tr>
    <td><%= variable.name %></td>
    <td><%= variable.label %></td>
    <td><%= variable.physical_data_product_id %></td>
    <td><%= variable.variable_group_id %></td>
    <td><%= link_to 'Show', variable %></td>
    <td><%= link_to 'Edit', edit_variable_path(variable) %></td>
    <td><%= link_to 'Destroy', variable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

