<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
Variables</h1>
</div>

<hr>

<div class="span-8">
<div class="box">
<h2>About</h2>
<%= render 'about' %>
</div>

<% if can? :manage, Variable %>
<%= link_to 'New Variable', new_variable_path %>
<% end %>
</div>

<div class="span-16 last">
<h2>All Variables</h2>
<%= render 'table' %>
<%= paginate @variables %>
</div>

