<div class="span-24">
<h1><%= @variable.title %></h2>
</div>

<hr>

<div class="span-24">
<div class="span-8">
<div class="box">
<p>
  <b>Name:</b>
  <%= link_to @variable.name, @variable %>
</p>

<p>
  <b>Label:</b>
  <%= @variable.label %>
</p>

<p>
  <b>Physical data product:</b>
  <%= link_to @variable.physical_data_product.name, @variable.physical_data_product unless @variable.physical_data_product.blank? %>
</p>

<p>
  <b>Variable group:</b>
  <%= link_to @variable.variable_group.name, @variable.variable_group unless @variable.variable_group.blank? %>
</p>
</div>

<% if can? :manage, @variable %>
<%= link_to 'Edit', edit_variable_path(@variable) %> |
<%= link_to 'Back', variables_path %>
<% end %>
</div>

<% unless @variable_statistics.blank? %>
<div class="span-8">
<h2>Statistics</h2>
<%= render 'variable_statistics/table' %>
</div>
<% end %>

<% unless @variable_categories.blank? %>
<div class="span-8 last">
<h2>Categories</h2>
<%= render 'variable_categories/table' %>
</div>
<% end %>

</div>


