<div class="span-24">
<h1><%= image_tag "icons/#{params["controller"]}.png", alt: "" %>
<%= @variable.title %></h2>
</div>

<hr>

<div class="span-24">
<div class="span-8">
<div class="box">
<h2>Variable</h2>
<%= render 'info' %>
</div>

<% if can? :manage, @variable %>
<%= link_to 'Edit', edit_variable_path(@variable) %> |
<%= link_to 'Back', variables_path %>
<% end %>
</div>

<div class="span-16 last">
<% unless @variable_statistics.blank? %>
<div class="span-8">
<h2>Statistics</h2>
<%= render 'variable_statistics/table' %>
</div>
<% end %>

<% unless @variable_categories.blank? %>
<div class="span-8 last">
<h2>Categories</h2>
<%= render 'variable_categories/table' %>
</div>

<% end %>

<hr>

<div class="span-16 last">
<div>
<h2>Variable Comparison</h2>
<%= render 'comparison' %>
</div>

<hr>

<div>
<h2> Variables via Concepts </h2>
<%= render 'table' %>
</h2>
</div>
</div>

</div>


