<!DOCTYPE html>
<html>
<head>
  <title>ddiOnRails</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => "screen" %>
  <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
  <%= stylesheet_link_tag    "custom", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<div class="span-24">
<div class="span-16">
<p></p>
<% if user_signed_in? %>
  <p>
  <b><%= current_user.email %></b> |
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %> |
  <%= if UserProfile.exists?(current_user.id)
        link_to('My user profile', user_profile_path(current_user.id))
      else
        link_to('Create my user profile', new_user_profile_path)
      end %>
  </p>
  <%= form_tag("/baskets/set", method: "GET") do %>
    <%= label_tag(:basket_id, "Basket") %>
    <%= select_tag(:basket_id, options_for_select(current_user.baskets.map {|b| [b.name, b.id]} << ["--- New Basket ---", ""], session["basket_id"])) %>
    <%= submit_tag "Select" %>
  <% end %>
<% else %>
  <p>
  <%= link_to('Login', new_user_session_path)  %>
  </p>
<% end %>


<p>
<b><%= link_to "Home", "/" %></b>
|
<b>Short links:</b>
<%= link_to "ConceptGroups", concept_groups_path %> |
<%= link_to "Studies", studies_path %> |
<%= link_to "Variables", variables_path %> |
<%= link_to "User Profiles", user_profiles_path %> |
<%= link_to "Publications", publications_path %>
</p>
</div>


<div class="span-8 last">
<%= link_to image_tag("logo.png"), "/", class: "right" %>
</div>

</div>



<% unless notice.blank? & alert.blank? %>
<div class="span-24">
<% unless notice.blank? %>
<p class="notice"><%= notice %></p>
<% end %>
<% unless alert.blank? %>
<p class="alert"><%= alert %></p>
<% end %>
</div>
<% end %>

<hr>

<%= yield %>

<hr>

<div class="span-24">
Footer
</div>

<!-- <hr> -->
<%= debug(assigns) %>
<%= debug(session) %>

</div>

</body>
</html>
