<!DOCTYPE html>
<html>
<head>
  <title>DdiOnRails</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => "screen" %>
  <%= stylesheet_link_tag 'blueprint/print', :media => "print" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<div class="span-24">
<% if user_signed_in? %>
  <p>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </p>
<% else %>
  <p>
  <%= link_to('Login', new_user_session_path)  %>
  </p>
<% end %>
</div>

<hr>

<div class="span-24">
<p><b>Short links:</b>
<%= link_to "Concepts", concept_groups_path %> |
<%= link_to "Studies", studies_path %> |
<%= link_to "Variables", variables_path %>
</p>
</div>

<% unless notice.blank? & alert.blank? %>
<div class="span-24">
<% unless notice.blank? %>
<p class="notice"><%= notice %></p>
<% end %>
<% unless alert.blank? %>
<p class="alert"><%= alert %></p>
<% end %>
</div>
<% end %>

<hr>

<%= yield %>

<hr>

<div class="span-24">
Footer
</div>

</div>

</body>
</html>
